#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  padding-bottom: 48px;  
}

.blurb {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

@font-face {
  font-family: "blurb";
  src: url("/fonts/MPLUSCode.ttf");
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
    font-size: 3vh;
  }

  .blurb {
    max-width: 80%;
  }
}
