footer::before {
    content: "";
    position: absolute;
    z-index: -1;
    mask-image: linear-gradient(rgba(255, 255, 255, 0), black);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: saturate(180%) blur(10px);
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    position: fixed;
    color: #e4e4e4;
    height: 64px;
    line-height: 0.4;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-contents {
    padding-top: 16px;
    padding-bottom: 8px;
    height: 32px;
    font-size: small;
}

@media (max-width: 600px) {
    footer::before {
        -webkit-backdrop-filter: none;
        mask-image: none;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 0);
    }

    footer {
        height: max-content;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .footer-contents {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 3vh;
        height: 72px;
    }
}