header {
    align-content: center;
}

h1 {
    padding: 0;
}

.logo {
    max-width: 15%;
}

.socials-list {
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.socials-item {
    margin: 0 16px;
}

@media (max-width: 600px) {
    .socials-list {
        font-size: 5vh;
    }
}