.card {
    padding: 20px;
    background-color: rgba(66, 69, 70, 0.4);
    border-radius: 8px;
    text-align: left;
    backdrop-filter: saturate(180%) blur(10px);
    opacity: 0;
    animation: rise 0.5s ease-out forwards;
}

.thumbnail {
    width: 100%;
}

.thumbnail-content {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    max-height: 250px;
    mask-image: linear-gradient(to top, transparent, black 30%, black 100%);
}

.thumbnail-underlay-gradient {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85),
            transparent);
}

.thumbnail-content img {
    width: 100%;
}


.thumbnail-content p {
    position: absolute;
    padding-left: 12px;
    width: 80%;
    bottom: 4px;
}

.preview:hover desc {
    opacity: 1;
}

@keyframes rise {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px) scale(1.01) translateZ(0) perspective(1px);
    backface-visibility: hidden;
    transition: all 0.1s ease-in-out;
    background-color: rgba(45, 47, 47, 0.5);
    backdrop-filter: blur(12px);
    cursor: pointer;
}

.h3 {
    color: aliceblue;
    font-size: 24px;
    margin-bottom: 10px;
}

.date {
    position: absolute;
    font-size: medium;
    font-weight: normal;
    text-align: right;
    right: 32px;
}

.p {
    color: aliceblue;
    font-size: 16px;
    line-height: 1.5;
}

.badges {
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    width: 100%;
}

.badges-technologies {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}

.badges-roles {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}