.role-badge {
    padding: 5px 10px;
    border-radius: 8px;
    color: rgb(247, 247, 247);
    background-color: rgb(31, 31, 32);
    font-weight: bold;
    display: inline-block;
    text-wrap: nowrap;
    font-size: 0.875rem;
}

@media (max-width: 600px) {
    .role-badge {
        font-size: inherit;
    }
}