.technology-badge {
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-wrap: nowrap;
    font-size: 0.875rem;
}

@media (max-width: 600px) {
    .technology-badge {
        font-size: inherit;
    }
}